// Modal
#commentModal.modal.fade(tabindex='-1' aria-labelledby='commentModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#commentModalLabel.modal-title.capitalize Add a comment
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action=`/projects/${project.id}/bug/comment?_csrf=${csrfToken}`, method="post" enctype="multipart/form-data")
          .form-group
            label.capitalize(for="description") New Comment
            textarea.form-control(name="comment" id="comment" placeholder="Add comment here(Not working)" rows="5" required)
          .form-group
            label(for="image") Screenshot if applicable
            input.form-control-file(type="file", name="image")
          .modal-footer
            input(type="hidden", name="_csrf" value=`${csrfToken}`)
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submut') Submit