if error && error.length
  .toast.bg-dark.message.shadow.animated.bounceInRight(id="error-toast" role='alert', aria-live='assertive', aria-atomic='true' data-autohide="false")
    .toast-header.error
      i.far.fa-bug.mt-1
      strong.mr-auto= title
      small Just Now
      button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
        span(aria-hidden='true') <i class="fal fa-comment-alt-times"></i>
    .toast-body.text-danger.text-center.mt-2
      p=error
  script.
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  

if success && success.length
  .toast.bg-dark.message.shadow.animated.bounceInRight(id="success-toast" role='alert', aria-live='assertive', aria-atomic='true' data-autohide="false")
    .toast-header.success
      i.far.fa-check-circle.text-secondary.mr-1
      strong.mr-auto= title
      small Just Now
      button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
        span(aria-hidden='true') <i class="fal fa-comment-alt-times"></i>
    .toast-body.text-success.text-center.mt-2
      p=success
  script.
    $(document).ready(function(){
      $('.toast').toast('show');
    });