extends layout

block content
  .container
    .row
      .col-12.my-5
        .jumbotron.text-center
          h1 Welcome to #{title}
          p A simple web app to keep track of your applications bugs...
      .col-12.mb-2
        h2 How to use the app...
        ol
          li Create an account as a creator or a tester
          li Create your tracker by naming your project
          li Invite users to your project so they can test and add bugs and or feature requests
        h3 What Works
        ul
          li Registration
          li Creating a project (if you are registered as a creator);
          li Viewing you projects/project
          li Bugs/Features are able to be added.
        h3 TODO
        ul
          li The update button does nothing as of yet(only viewable by the project creator... This is for updating the labels ex. Backlog, Must Have and so on)
          li Will need to add an edit/delete button for the bug/feature(viewable by project creator and bug/feature submitter)
          li The submitted bug/feature will need to have it's own page view for comments/follow-ups/images
          li A modal will be created for the project creator to invite users to the project
            ul
              li This will work by searching for a user by email address...
              li If they have an account an email will be send for the user to click the invite link and be added to the project
              li If the do not have an account then an email will be sent asking the user to sign up and query strings will be used to populate email and userType automatically.
