doctype html
html
  head
    title= title
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js")
    script(src="https://kit.fontawesome.com/7ab17b9e70.js" crossorigin="anonymous")
  body
    include partials/_navbar
    block content
    include partials/_footer
