extends ../layout

block content
  .container.my-5
    .row
      .col-12
        if currentUser.userType === 'creator'
          h1.text-center.capitolize Your current projects
        else
          h1.text-center.capitolize Your apps to test
      .col-8.offset-2.mt-3
        .card
          .card-header.capitolize 
            if !userProjects.length
              p.m-0 You currently have no projects
                span.float-right
                  a.btn.btn-outline-primary.btn-sm(href="/projects/new-project") Create one
            else
              p.m-0 Here are your projects 
          ul.list-group.list-group-flush
            each project in userProjects
              li.list-group-item
                p.my-0.capitolize
                  a(href=`/projects/${project.id}`)= project.projectName
                small=project.projectDesc
  include ../partials/_footer