extends ../layout

block content
  .container-fluid.my-5
    .row
      if currentUser.userType === 'creator'
        .col-xl-4
          h3.text-center Info
          ul.list-group
            

      else
        .col-8.offset-2.mt-3
          h1.text-center.capitolize.pb-3 Test Apps
          .card
            .card-header.capitolize 
              if !userProjects.length
                p.m-0 You currently have no projects
                  span.float-right
                    a.btn.btn-outline-primary.btn-sm(href="/projects/new-project") Create one
              else
                p.m-0 Here are your projects 
            ul.list-group.list-group-flush
              each project in userProjects
                li.list-group-item
                  p.my-0.capitolize
                    a(href=`/projects/${project.id}`)= project.projectName
                  small=project.projectDesc
  include ../partials/_footer